.CardAlbum{
    @extend %col;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: opacity 1s,transform 1.5s;

    background: $green;
    width: fit-content;
    height: fit-content;

    &:hover{
        .animDiv{
            opacity: 1;
            transform: translate(-50%,-50%) scale(1);
        }
    }

    .animDiv{
        pointer-events: none;
        opacity: 0;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;

        @extend %mid;
        transform: translate(-50%,-50%) scale(0.01);

        @media (min-width:1600px) {
            width: 1200px;
            height: 1200px;
        }

        &#first{
            z-index: -1;
            transition: transform 1s ease 0.2s, opacity 0.5s;
        }
        &#second{
            z-index: -2;
            transition: transform 1s ease 0.1s, opacity 0.5s;
        }
        &#last{
            z-index: -3;
            transition: transform 1s ease, opacity 0.5s;
        }
    }

    .coverAlbum{
        @extend %cover;
        width: $coverSize;
        height: $coverSize;

        position: relative;
        transform: scale(1);

        transition: transform 2s;

        @media (max-width:1000px) {
            width: calc($coverSize*0.75);
            height: calc($coverSize*0.75);
        }
        @media (min-width:1600px) {
            width: calc($coverSize*1.10);
            height: calc($coverSize*1.10);
        }

        &:hover{
            z-index: 5;
            transform: scale(1.1);
        }

        .container{
            @extend %col;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            background: rgba(black, 0.5);
            backdrop-filter: blur(1px);
            opacity: 0;
            transition: opacity 1s;

            &:hover{
                opacity: 1;
                cursor: pointer;
            }

            h3{
                font-size: 20px;
                color: white;
                text-shadow: 1px 1px 0 black;
                font-family: 'montserrat';
                margin-bottom: -10px;
                text-align: center;
            }
            .artist{
                @extend %row;
                justify-content: space-around;
                flex-wrap: wrap;
                height: fit-content;
                width: 100%;

                h4{
                    font-family: 'montserrat';
                    color: white;
                    font-size: 16px;
                }
            }
            .buttons{
                @extend %row;
                justify-content: space-around;
                align-items: center;
                width: 40%;

                button{
                    position: relative;
                    font-size: 20px;
                    text-align: center;
                    border: none;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    transform: scale(0.9);

                    transition: all ease 1s;
    
                    &:hover{
                        cursor: pointer;
                        background: $green;
                        color: white;
                        transform: scale(1);
                    }

                    &.del{
                        &:hover{
                            cursor: pointer;
                            background: red;
                            color: white;
                        }
                    }
                    &.del, &.add{
                        height: 35px;
                        width: 35px;
                        font-size: 10px;

                        &:hover{
                            transform: scale(1) rotate(180deg);
                        }
                    }

                    &.active{
                        &.add{
                            background: $green;
                            color: white;
                        }
                        &.del{
                            background: red;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}