.Loading{
    @extend %mid;
    @extend %col;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    .container{
        position: relative;
        overflow: hidden;

        width: 15%;
        height: 8px;
        background: rgba(white,0.5);

        border-radius: 7px;

        .progress-bar{
            width: 1%;
            height: 100%;
            transition: width 0.5s;

            background: white;

        }
    }
}