.playlist{
    @extend %col;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    outline-color: $green4;

    transition: outline 1s ease,transform 1s ease, background-color 0.5s ease-in, box-shadow 1s ease-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background: $green4;
        box-shadow: 1px 1px 50px rgba(#000000,0.5);
        div{
            &:first-child+div+div{
                opacity: 1;
            }
        }
    }

    div{
        color: white;

        &:first-child{
            @extend %cover;
            
            width: calc($coverSize*0.9);
            height: calc($coverSize*0.9);
            margin-bottom: 20px;

            @media (min-width:1600px) {
                width: $coverSize;
                height: $coverSize;
            }
        }
        &:first-child+div{
            text-align: center;
            font-family: 'montserrat';
            font-size: 18px;
            font-weight: bold;
            letter-spacing: -1px;
        }
        &:first-child+div+div{
            text-align: center;
            font-family: 'montserrat';
            font-size: 15px;
            font-weight: bold;
            opacity: 0;
            transition: opacity ease 1s;
        }
    }

}