@font-face {
    font-family: 'montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

$green:#1DB954;
$green2:#1BAB4E;
$green3:#179A45;
$green4:#21c35a;
$background:#222;
$subBackground:#333;
$subBackground2:#444;
$subBackground3:#555;

$coverSize:400px;

%col{
    display: flex;
    flex-direction: column;
}
%row{
    display: flex;
    flex-direction: row;
}
%cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%mid{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

button{
    background: white;
    text-align: center;
}

.icon-arrow-long-left{
    position: absolute;
    top: 0; left: 0;

    font-size: 30px;
    font-weight: lighter;
    //background: white;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;

    padding: 0px 15px 0px 15px;
    margin: 20px;
    margin-left: 35px;

    z-index: 99;

    transition: all ease 1s;

    &:hover{
        cursor: pointer;
        background: $green;
        color: black;
        transform: scale(1.1);
    }
}

.load{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 99;
    top: 0;
    left: 0;
    overflow: hidden;

    .intro{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 99;
        pointer-events: auto;
    
        &#first{
            background: $green4;
        }
        &#second{
            background: $green2;
        }
        &#last{
            background: $green3;
        }
    }
}