#Open{
    @extend %col;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background: $green;
    height: 100vh;

    .searchBar{
        @extend %col;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 100vw;
        height: 22vh;

        overflow: hidden;

        label{
            font-size: 3vw;
            font-family: 'montserrat';
            letter-spacing: -4px;
            color: white;
            font-weight: bold;
            margin-bottom: 2%;
            z-index: 1;

            @media (max-width:1000px) {
                letter-spacing: -1px;
                font-size: 6vw;
            }
            @media (min-width:1600px) {
                letter-spacing: -7px;
                font-size: 3.5vw;
            }
        }

        div{
            @extend %col;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: fit-content;
            position: relative;

            pointer-events: none;

            &:hover{
                div{
                    transform: translate(-50%,-50%) rotate(360deg);
                    opacity: 0;
                    transition: all ease 1s;
                }
                input{
                    transform: scaleX(1);
                    border-radius: 8px;
                    transition: transform ease 1s 0.5s,border-radius 0.5s;
                }
            }

            input{
                border: none;
                height: 12px;
                padding: 5px;
                padding-left: 15px;
                background: white;
                border-radius: 50%;
                color: black;
                pointer-events: auto;
                
                width: 30%;
                font-size: 15px;
                transition: transform ease 1s 0.5s,border-radius 0.5s ease-out 1s;
                z-index: 1;
                transform: scaleX(0);

                &:focus-visible{
                    outline: none;
                    transform: scaleX(1);
                    border-radius: 8px;

                    &+div{
                        opacity: 0;
                        transform: translate(-50%,-50%) scale(0);
                        transition: all ease-in 1s;
                    }
                }
            }
            div{
                @extend %mid;
                
                color: white;
                font-size: 25px;
                width: fit-content;

                pointer-events: auto;
                transition: all ease-out 1s 1s;
            }
        }
    }

    .playlists{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        @extend %mid;
        transform: translate(-50%,-35%);

        width: 100vw;
        height: fit-content;
    }
}