#Suggestion{
    @extend %col;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: $green;

    @media (max-width:1000px) {
        overflow: initial;
        overflow-x: hidden;
        height: fit-content;
    }

    .trackList{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        @extend %mid;
        transition: opacity 3s;
    
        width: 100vw;
        height: fit-content;

        @media (max-width:1000px) {
            position: relative;
            flex-flow: column nowrap;
            justify-content: flex-start;
            margin-top: 200px;
        }

        .confirm{
            position: absolute;
            bottom: -120px;

            font-family: 'montserrat';
            font-weight: bold;
            color: black;
            opacity: 0;

            border: none;
            border-radius: 20px;
            font-size: 20px;
            padding: 10px 20px 10px 20px;

            transform: scale(0.9);

            transition: all ease 1s;

            &:hover{
                background: none;
                color: white;
                cursor: pointer;
                transform: scale(1);
            }
        }
    }

    h2{
        position: relative;
        font-size: 4vw;
        font-family: 'montserrat';
        color: white;
        font-weight: 900;
        letter-spacing: -4px;
        z-index: 8;

        @media (max-width:1000px) {
            letter-spacing: -1px;
            font-size: 6vw;
        }
        @media (min-width:1600px) {
            letter-spacing: -8px;
            font-size: 4.5vw;
        }
    }

    .volume{
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 35px;

        @extend %row;
        justify-content: center;
        align-items: center;

        width: fit-content;
        height: fit-content;
        pointer-events: none;

        &:hover{
            .volume-bar-container{
                .volume-bar{
                    transform: translate(0%,0);
                }
            }
        }
        .volume-bar-container{
            overflow: hidden;

            height: fit-content;
            width: fit-content;
            margin-bottom: 3px;

            position: relative;
            pointer-events: none;

            .volume-bar{
                height: 100%;
                width: 100%;
    
                position: relative;
                transform: translate(100%,0);
    
                transition: transform ease 1s;

                pointer-events: auto;
    
                input{
                    -webkit-appearance: none;
                    padding: 0;
                    font: inherit;
                    outline: none;
                    border: none;
                    color: $green4;
                    background: white;
                    height: 6px;
                    border-radius: 5px;
        
                    &::-webkit-slider-thumb{
                        -webkit-appearance: none;
                        z-index: 99;
                        width: 10px;
                        height: 15px;
                        border-radius: 5px;
                        background: $background;
                        transition: all ease 0.5s;
        
                        &:hover{
                            background: $subBackground3;
                            cursor: pointer;
                            height: 20px;
                        }
                    }
                    &::-moz-range-thumb{
                        -webkit-appearance: none;
                        z-index: 99;
                        width: 10px;
                        height: 15px;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                        background: $background;
                        transition: all ease 0.5s;
        
                        &:hover{
                            background: $subBackground3;
                            cursor: pointer;
                            height: 20px;
                        }
                    }
                    &::-ms-fill-lower{
                        background: $background;
                    }
                }
    
                div{
                    background: $background;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    height: 6px;
                    border-radius: 5px;
                    pointer-events: none;
                }
                @-moz-document url-prefix() {
                    div{
                        top: 7px;
                    }
                }
            }
        }

        button{
            background: none;
            border: none;
            color: white;
            font-size: 30px;
            transition: all ease .5s;
            pointer-events: auto;

            &:hover{
                opacity: .8;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}