#Suggestion{
    @extend %col;
    justify-content: flex-start;
    align-items: center;

    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background: $green;

    @media (max-width:1000px) {
        overflow: initial;
        overflow-x: hidden;
        height: fit-content;
    }

    .trackList{
        @extend %row;
        justify-content: space-around;
        align-items: center;

        @extend %mid;
        transition: opacity 3s;
    
        width: 100vw;
        height: fit-content;

        @media (max-width:1000px) {
            position: relative;
            flex-flow: column nowrap;
            justify-content: flex-start;
            margin-top: 200px;
        }
    }

    h2{
        position: relative;
        font-size: 4vw;
        font-family: 'montserrat';
        color: white;
        font-weight: 900;
        letter-spacing: -4px;
        z-index: 8;

        @media (max-width:1000px) {
            letter-spacing: -1px;
            font-size: 6vw;
        }
        @media (min-width:1600px) {
            letter-spacing: -8px;
            font-size: 4.5vw;
        }
    }
}